@model AnnouncementAddDTO
@{
    ViewData["Title"] = "AddAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Ekle</h1>
<form method="post">
    <label>Duyuru Başlığı</label>
    <input type="text" asp-for="Title" class="form-control"/>
    <span asp-validation-for="Title" class="text-danger"></span>
    <br/>
    <label>Duyuru İçeriği</label>
    <textarea rows="5" asp-for="Content" class="form-control" ></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-primary">Oluştur</button>
</form>

