@model CreateRoleViewModel
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ynei Rol Oluşturma Sayfası</h1>
<form method="post">
    <label>Rol Adını Giriniz</label>
    <input type="text" asp-for="RoleName" class="form-control"/>
    <br/>
    <button class="btn btn-primary">Rol Oluştur</button>
</form>
